<section class="about_story_area section_gap">
    <div class="container">
        <div class="row story_inner">
            <div class="col-lg-6">
                <div class="story_text">
                    <h2>Sobre Nosotros</h2>
                    <hr>
                    <p>Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</p>
                    <a class="main_btn" href="#">Ver el Menu</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="story_img">
                    <img class="img-fluid" src="../../assets/img/story/story-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>